<div id="<%= dom_id active %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= active.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= active.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this active", active, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this active', edit_active_path(active), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
